<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
        <div class="hero-content py-5 my-3">
            <h2 class="display-1 mt-3 mb-0">Chi tiết <span class="text-primary">Sản phẩm</span></h2>
        </div>
    </div>
</section>

<section id="selling-product">
    <div class="container my-md-5 py-5">
        <div class="row g-md-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- product-large-slider -->
                        <div
                            class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                            <div class="swiper-wrapper" id="swiper-wrapper-54f3762a47aa2d81" aria-live="polite">
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active"
                                    *ngFor="let item of singleProduct?.link"
                                    style="width: 624px; opacity: 1; transform: translate3d(0px, 0px, 0px);"
                                    role="group" aria-label="1 / 4">
                                    <img src="https://api-cs5-server.tryasp.net/GetImage/get-images-cart/{{item.link}}"
                                        class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <!-- product-thumbnail-slider -->
                        <div thumbsslider=""
                            class="swiper product-thumbnail-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                            <div class="swiper-wrapper" id="swiper-wrapper-7a782fdede49f745" aria-live="polite"
                                style="transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active"
                                    style="width: 202.667px; margin-right: 8px;" role="group" aria-label="1 / 4"
                                    *ngFor="let item of singleProduct?.link">
                                    <img src="https://api-cs5-server.tryasp.net/GetImage/get-images-cart/{{item.link}}"
                                        class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 mt-5 ">
                <div class="product-info">
                    <div class="element-header">
                        <h2 itemprop="name" class="display-6">
                            {{singleProduct?.name}}
                        </h2>
                        <div class="rating-container d-flex gap-0 align-items-center">
                        </div>
                    </div>
                    <div class="product-price pt-3 pb-3">
                        <strong class="text-primary display-6 fw-bold">
                            {{singleProduct?.price | currency:'
                            ':'symbol':'1.0-0'}}đ
                        </strong>
                    </div>
                    <p>
                        {{singleProduct?.description}}
                    </p>
                    <div class="cart-wrap">
                        <div class="color-options product-select">
                            <div class="color-toggle pt-2" data-option-index="0">
                                <h6 class="item-title fw-bold">Màu sắc:</h6>
                                <ul class="select-list list-unstyled d-flex">
                                    <li class="select-item pe-3">
                                        <a href="#" class="btn btn-light text-capitalize">
                                            {{singleProduct?.color}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swatch product-select pt-3" data-option-index="1">
                            <h6 class="item-title fw-bold">Kích thước:</h6>
                            <ul class="select-list list-unstyled d-flex">
                                <li data-value="S" class="select-item pe-3">
                                    <a href="#" class="btn btn-light">
                                        {{singleProduct?.size}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-quantity pt-2">
                            <div class="stock-number text-dark"><em>
                                    Số lượng
                                </em></div>
                            <div class="stock-button-wrap">

                                <div class="input-group product-qty align-items-center w-25">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-light" (click)="ChangeQuantity(quantity)">
                                            -
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity"
                                        class="form-control input-number text-center p-2 mx-1" [(ngModel)]="quantity"
                                        disabled>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-light"
                                            (click)="ChangeQuantity(quantity, 'plus')">
                                            +
                                        </button>
                                    </span>
                                </div>

                                <div class="d-flex flex-wrap pt-4">
                                    <a type="button" (click)="AddToCarts(singleProduct , quantity)"
                                        class="btn-cart me-3 px-4 pt-3 pb-3">
                                        <h5 class="text-uppercase m-0">
                                            Thêm vào giỏ hàng
                                        </h5>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section _ngcontent-ng-c2327624737="" id="bestselling" class="my-5 overflow-hidden">
    <div _ngcontent-ng-c2327624737="" class="container py-5 mb-5">
        <div _ngcontent-ng-c2327624737=""
            class="section-header d-md-flex justify-content-between align-items-center mb-3">
            <h2 _ngcontent-ng-c2327624737="" class="display-3 fw-normal">Sản phẩm tương tự</h2>
        </div>

        <!-- load sản phẩm tương ứng -->
        <div _ngcontent-ng-c2327624737="" class="swiper bestselling-swiper">
            <div _ngcontent-ng-c2327624737="" class="swiper-wrapper">
                <div _ngcontent-ng-c2327624737="" class="swiper-slide" *ngFor="let item of products">
                    <div _ngcontent-ng-c2327624737="" class="card 
                    position-relative">
                        <a _ngcontent-ng-c2327624737="" [routerLink]="['/single-product/' + item.id]"
                            style="width: 100%; height: 20rem;">
                            <img _ngcontent-ng-c2327624737="" *ngIf="item.link.length > 0"
                                src="https://api-cs5-server.tryasp.net/GetImage/get-images-cart/{{item.link[0].link}}"
                                style="width: 100%; height: 100%; object-fit: cover;" alt="image"
                                class="img-fluid rounded-4">
                        </a>
                        <div _ngcontent-ng-c2327624737="" class="card-body p-0"><a _ngcontent-ng-c2327624737=""
                                href="single-product.html">
                                <h3 _ngcontent-ng-c2327624737="" class="card-title pt-4 m-0">
                                    {{item.name}}
                                </h3>
                            </a>
                            <div _ngcontent-ng-c2327624737="" class="card-text">
                                <h3 _ngcontent-ng-c2327624737="" class="secondary-font text-primary">
                                    {{item.price | currency:'
                                    ':'symbol':'1.0-0'}}đ
                                </h3>
                                <div _ngcontent-ng-c2327624737="" class="d-flex flex-wrap mt-3">
                                    <a _ngcontent-ng-c2327624737="" (click)="AddToCart(item)"
                                        class="btn-cart me-3 px-4 pt-3 pb-3">
                                        <h5 _ngcontent-ng-c2327624737="" class="text-uppercase m-0">
                                            Thêm vào giỏ
                                        </h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- load sản phẩm tương ứng -->
    </div>
</section>