<section id="clothing" class="my-5 overflow-hidden">
  <div class="container pb-5">

    <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
      <h2 class="display-3 fw-normal">Shop {{name}} </h2>

    </div>

    <div class="products-carousel swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of listProducts">
          <div class="card position-relative">
            <a [routerLink]="['/single-product/' + item.id]" style="width: 100%; height: 20rem;">
              <img src="https://localhost:7192/api/GetImage/get-images-cart/{{item.link[0].link}}"
                *ngIf="item.link.length > 0" class="img-fluid rounded-4" alt="image"
                style="width: 100%; height: 100%; object-fit: cover;">
            </a>
            <div class="card-body p-0">
              <a [routerLink]="['/single-product/' + item.id]">
                <h3 class="card-title pt-4 m-0"> {{item.name}} </h3>
              </a>
              <div class="card-text">
                <h3 class="secondary-font text-primary">{{item.price | currency:'
                  ':'symbol':'1.0-0'}} VND</h3>

                <div class="d-flex flex-wrap mt-3">
                  <a (click)="AddToCart(item)" class="btn-cart me-3 px-4 pt-3 pb-3">
                    <h5 class="text-uppercase m-0">Thêm vào giỏ</h5>
                  </a>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / products-carousel -->


  </div>
</section>