<div class="container py-2">
    <section _ngcontent-ng-c2155392479="" id="register" style="background: url('images/background-img.png') no-repeat;">
        <div _ngcontent-ng-c2155392479="" class="container">
            <div _ngcontent-ng-c2155392479="" class="row py-5">
                <div _ngcontent-ng-c2155392479="" class="offset-md-3 col-md-6 my-5">
                    <h2 _ngcontent-ng-c2155392479="" class="display-3 fw-normal text-center"> Đăng nhập</h2>
                    <form [formGroup]="LoginForm" class="ng-untouched ng-pristine ng-valid">
                        <div _ngcontent-ng-c2155392479="" class="mb-3">
                            <input _ngcontent-ng-c2155392479="" type="email" name="email" id="email"
                                placeholder="Nhập Email" class="form-control form-control-lg" formControlName="email">
                            <p style="color: red;"
                            *ngIf="LoginForm.get('email')?.errors?.['required']"
                            >Bạn chưa nhập email</p>
                            <p style="color: red;"
                            *ngIf="LoginForm.get('email')?.errors?.['email']"
                            >Email không đúng định dạng</p>
                        </div>
                        <div _ngcontent-ng-c2155392479="" class="mb-3">
                            <input _ngcontent-ng-c2155392479="" type="password" name="email" id="password2"
                                placeholder="Mật khẩu" class="form-control form-control-lg" formControlName="password">
                                <p style="color: red;"
                                *ngIf="LoginForm.get('password')?.errors?.['required']"
                                >Bạn chưa nhập mật khẩu</p>
                        </div>
                        <div _ngcontent-ng-c2155392479="" class="d-grid gap-2">
                            <button (click)="SumbitForm()" [disabled]="LoginForm.invalid" type="submit"
                                class="btn btn-dark btn-lg rounded-1">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>